<template>
  <Layout :pageTitle="`Study report by ${$page.author.edges[0].node.name}`">
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-half">
            <div class="box">
              <figure class="image is-rounded is-128x128">
                <img class="is-rounded" :src="`../../${$page.author.edges[0].node.image}`" />
              </figure>
              <div class="content" style="margin-top: 15px">
                <div class="field mt-3">
                  <h2 class="title is-3">
                    {{ $page.author.edges[0].node.name }}
                  </h2>
                  <p class="subtitle is-6">
                    {{ $page.author.edges[0].node.title }}
                  </p>
                </div>

                <p class="is-6">{{ $page.author.edges[0].node.blurb }}</p>
                <div class="is-6">
                  <span
                    style="padding-right: 5px"
                    v-for="tag in $page.author.edges[0].node.tags"
                    :key="tag.id"
                  >
                    <div
                      v-if="authorTags"
                      :class="{ 'author-tag-active': authorTags.includes(tag) }"
                      @click="clickAuthorTag(tag)"
                      class="tag"
                    >
                      <a>{{ tag.id }}</a>
                    </div>
                  </span>
                </div>

                <div class="description" v-html="$page.author.edges[0].node.content"></div>
                <!-- 
                <p class="subtitle is-6">Introduction</p>
                <p>{{ $page.author.edges[0].node.blurb }}</p> -->
              </div>
            </div>
          </div>
          <div class="column is-half">
            <template v-for="post in $page.posts.edges">
              <ul v-if="isShowPost(post)" :key="post.node.id">
                <li>
                  <PostItem :post="post" />
                </li>
                <hr />
              </ul>
            </template>
          </div>
        </div>
      </div>
    </section>
  </Layout>
</template>

<page-query>
 query($id: String!) {
    author: allAuthor(filter: { title: { eq: $id } }) {
      edges {
        node {
          id
          title
          name
          path
          image
          blurb
          tags {
            id
            path
          }
          content
        }
      }
    }
    posts: allPost(filter: { participant: { contains: [$id] } }) {
      edges {
        node {
          id
          date
          title
          jp_title
          path
          excerpt
          featuredImage
          participant
          author {
            id
            title
            name
            path
            image
          }
          tags {
            id
            path
          }
        }
      }
    }  
  }
</page-query>


<script>
import PostItem from '../components/PostItem';
export default {
  components: { PostItem },
  data() {
    return {
      authorTags: [],
      posts: []
    };
  },
  created() {
    if (this.$page) {
      this.posts = [...this.$page.posts.edges];
      this.authorTags = [...this.$page.author.edges[0].node.tags];
    }
  },
  methods: {
    clickAuthorTag(tag) {
      if (this.authorTags.includes(tag)) {
        this.authorTags.some((v, i) => {
          if (v == tag) this.authorTags.splice(i, 1);
        });
      } else {
        this.authorTags.push(tag);
      }
    },
    isShowPost(post) {
      let isShow = false;
      post.node.tags.forEach(postTag => {
          this.authorTags.forEach(authorTag => {
            if (postTag.id == authorTag.id) {
              isShow = true;
              return;
            }
          });
      });
      return isShow;
    },
  },
};
</script>

<style lang="scss" scoped>
@import '@/assets/scss/overrides.scss';

.post {
  padding-bottom: 1rem;
  border-bottom: 12px solid $primary;
}

.author-tag-active {
  background-color: #ccff99 !important;
}

.description {
  padding-top: 2.5rem;

  /deep/ h1 > a {
    .icon:after {
      content: '■';
    }
    .icon {
      padding-right: 0.5rem;
    }
  }

  /deep/ h2 > a {
    .icon:after {
      content: '●';
    }
    .icon {
      padding-right: 0.5rem;
    }
  }

  /deep/ h3 > a {
    .icon:after {
      content: '▼';
    }
    .icon {
      padding-right: 0.5rem;
    }
  }

  /deep/ h4 > a {
    .icon:after {
      content: '∵';
    }
    .icon {
      padding-right: 0.5rem;
    }
  }
}
</style>
