<template>
  <Layout :pageTitle="`Author tagged as ${$route.params.title}`">
    <section class="section">
      <div class="container">
        <ul v-for="post in $page.posts.edges" :key="post.node.id">
          <li>
            <AuthorItem :post="post" />
          </li>
          <hr />
        </ul>
      </div>
    </section>
  </Layout>
</template>

<page-query>
query BlogsByTags($id: ID) {
    posts: allAuthor (filter: {tags: {contains: [$id]}}) {
      edges {
        node {
            id
            title
            name
            path
            image
            blurb
            tags {
              id
              path
            }
            content
        }
      }
    } 
}
</page-query>

<script>
import AuthorItem from '../components/AuthorItem';
export default {
  components: { AuthorItem },
};
</script>
