<template>
  <Layout :pageTitle="$page.post.jp_title" :pageSubtitle="$page.post.excerpt">
    <div class="box">
      <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
        <ul>
          <!-- <li><router-link to="/">Home</router-link></li> -->
          <li @click="$router.go(-1)">Return</li>
          <li style="padding-left: 15px" class="is-active">
            <!-- <a href="#" aria-current="page">{{ $route.params.title }}</a> -->
            <a href="#" aria-current="page">{{ $page.post.jp_title }}</a>
          </li>
        </ul>
      </nav>
    </div>
    <section class="section">
      <div class="container">
        <div class="content description">
          <div v-html="$page.post.content"></div>
        </div>
      </div>
    </section>
  </Layout>
</template>

<page-query>
  query blog($path: String){
    post: post(path: $path){
     id
     title
     jp_title
     excerpt
     featuredImage
     content
     tags {
       id
     }
     author {
       id
     }
    }
  }
</page-query>

<style lang="scss" scoped>
@import '@/assets/scss/overrides.scss';

.post {
  padding-bottom: 1rem;
  border-bottom: 12px solid $primary;
}

.description {
  padding-top: 2.5rem;

  /deep/ h1 > a {
    .icon:after {
      content: '■';
    }
    .icon {
      padding-right: 0.5rem;
    }
  }

  /deep/ h2 > a {
    .icon:after {
      content: '●';
    }
    .icon {
      padding-right: 0.5rem;
    }
  }

  /deep/ h3 > a {
    .icon:after {
      content: '▼';
    }
    .icon {
      padding-right: 0.5rem;
    }
  }

  /deep/ h4 > a {
    .icon:after {
      content: '∵';
    }
    .icon {
      padding-right: 0.5rem;
    }
  }

  /deep/ h5 > a {
    .icon:after {
      content: '∵';
    }
    .icon {
      padding-right: 0.5rem;
    }
  }

}
</style>