<template>
  <Layout pageTitle="About">
    <section class="section">
      <div class="container">
        <div class="content description">
          <div v-html="$page.posts.edges[0].node.content"></div>
        </div>
      </div>
    </section>
  </Layout>
</template>

<page-query>
  query {
    posts: allAbout {
      edges {
        node {
          id
          excerpt
          content
        }
      }
    }  
  }
</page-query>

<script>
export default {
  metaInfo: {
    title: 'About',
  },
};
</script>

<style lang="scss" scoped>
@import '@/assets/scss/overrides.scss';

.post {
  padding-bottom: 1rem;
  border-bottom: 12px solid $primary;
}

.description {
  padding-top: 2.5rem;

  /deep/ h1 > a {
    .icon:after {
      content: '■';
    }
    .icon {
      padding-right: 0.5rem;
    }
  }

  /deep/ h2 > a {
    .icon:after {
      content: '●';
    }
    .icon {
      padding-right: 0.5rem;
    }
  }

  /deep/ h3 > a {
    .icon:after {
      content: '▼';
    }
    .icon {
      padding-right: 0.5rem;
    }
  }

  /deep/ h4 > a {
    .icon:after {
      content: '∵';
    }
    .icon {
      padding-right: 0.5rem;
    }
  }
}
</style>
