<template>
  <Layout :pageTitle="`Authors`">
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="box">
              <figure class="image is-rounded is-128x128">
                <img class="is-rounded" :src="`../../uploads/author-images/authors.png`" />
              </figure>
              <div class="content">
                <h2 class="title is-5">content filter</h2>
                <p>言語やフレームワークで絞り込むことができます</p>
                <input v-model="searchText" class="input" type="text" placeholder="Search text input" autocomplete="on" list="suggestList"  />
                <datalist id="suggestList" v-if="searchText != ''">
                  <option v-for="n in authorTags" :key="n">
                    {{ n }}
                  </option>
                </datalist>
              </div>
            </div>
          </div>
          <div class="column is-three-fifths">
            <template v-for="post in $page.posts.edges">
              <ul v-if="post.node.blurb.includes(searchText) || !searchText" :key="post.node.id">
                <li>
                  <AuthorItem :post="post" :highlightText="searchText" />
                </li>
                <hr />
              </ul>
            </template>
          </div>
        </div>
      </div>
    </section>
  </Layout>
</template>

<page-query>
  query {
    posts: allAuthorStudy {
      edges {
        node {
            id
            title
            name
            path
            image
            blurb
            tags {
              id
              path
            }
            content
        }
      }
    }
    authorTags: allAuthorTag {
      edges {
        node {
          id
        }
      }
    }  
  }
</page-query>
<script>
import AuthorItem from '../components/AuthorItem';
export default {
  components: { AuthorItem },
  data() {
    return {
      searchText: '',
      authorTags: [],
    };
  },
  created() {
    if (this.$page) {
      // this.authorTags = [...this.$page.authorTags.edges];
      [...this.$page.authorTags.edges].forEach(element => this.authorTags.push(element.node.id));
    }
  },
};
</script>


<style lang="scss" scoped>
@import '@/assets/scss/overrides.scss';

.post {
  padding-bottom: 1rem;
  border-bottom: 12px solid $primary;
}
</style>
