<template>
  <Layout pageTitle="Lab study portfolio report" pageSubtitle="勉強会の成果物と記録">
    <div class="section">
      <div class="container">
        <div class="columns" style="padding: 0 1.5rem 0 1.5rem">
          <div class="column card is-full">
            <header class="card-header">
              <p class="card-header-title">content filter</p>
              <!-- <div class="card-header-icon" aria-label="more options">
                <span class="icon arrow-bottom"> </span>
              </div> -->
            </header>
            <div class="card-content">
              <div class="content">
                <p>言語やフレームワークで絞り込むことができます</p>
                <input
                  v-model="searchText"
                  class="input"
                  type="text"
                  placeholder="Search text input"
                  autocomplete="on"
                  list="suggestList"
                />
                <datalist id="suggestList" v-if="searchText != ''">
                  <option v-for="n in postTags" :key="n">
                    {{ n }}
                  </option>
                </datalist>
              </div>
            </div>
            <footer class="card-footer"></footer>
          </div>
        </div>
        <div class="columns">
          <div class="column"></div>
          <div class="column cards-grid is-four-fifths">
            <template v-for="edge in $page.posts.edges">
              <article class="card grid-item" v-if="edge.node.excerpt.includes(searchText) || !searchText" :key="edge.node.id">
                <div class="card-image">
                  <g-link :to="edge.node.path">
                    <figure class="image is-16by9">
                      <img
                        :src="`../../${edge.node.featuredImage}`"
                        :alt="`${edge.node.title} image`"
                      />
                    </figure>
                  </g-link>
                </div>

                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <g-link :to="edge.node.author.path">
                        <figure class="image is-48x48">
                          <img :src="`../../${edge.node.author.image}`" alt="Placeholder image" />
                        </figure>
                      </g-link>
                    </div>
                    <div class="media-content">
                      <p class="subtitle is-6" style="margin-bottom: 0.5rem">
                        {{ edge.node.date.split('T')[0] }}
                      </p>
                      <p class="subtitle is-6">
                        <g-link :to="edge.node.author.path">
                          {{ edge.node.author.name }}
                        </g-link>
                      </p>
                      <!-- <h2 class="subtitle is-4">
                      <g-link :to="edge.node.path">
                        {{ edge.node.jp_title }}
                      </g-link>
                    </h2> -->
                    </div>
                  </div>
                  <h2 class="subtitle">
                    <g-link :to="edge.node.path">
                      {{ edge.node.jp_title }}
                    </g-link>
                  </h2>

                  <div
                    class="content"
                    v-html="createHighlightContent(searchText, edge.node.excerpt)"
                  ></div>

                  <div>
                    <span style="padding-right: 5px" v-for="tag in edge.node.tags" :key="tag.id">
                      <div class="tag">
                        <g-link :to="tag.path">
                          {{ tag.id }}
                        </g-link>
                      </div>

                      <!-- We will add a comma separator for the tags -->
                      <!-- <span v-if="index + 1 < edge.node.tags.length"> , </span> -->
                    </span>
                  </div>
                </div>
              </article>
            </template>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
          </div>
          <div class="column"></div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<page-query>
  query {
    posts: allPost {
      edges {
        node {
          id
          date
          title
          jp_title
          path
          excerpt
          featuredImage
          author {
            id
            title
            name
            path
            image
          }
          tags {
            id
            path
          }
        }
      }
    }
    postTags: allTag {
      edges {
        node {
          id
        }
      }
    }
  }
</page-query>

<script>
export default {
  data() {
    return {
      searchText: '',
      postTags: [],
    };
  },
  metaInfo: {
    title: 'Home',
  },
  methods: {
    changeAuthorLink(authorLink) {
      return authorLink.replace('author', 'author-study');
    },
    createHighlightContent(highlightText, content) {
      if (highlightText) {
        return content.replace(
          new RegExp(highlightText, 'g'),
          '<span style="background: lightgreen">' + highlightText + '</span>'
        );
      }
      return content;
    },
  },
  created() {
    if (this.$page) {
      [...this.$page.postTags.edges].forEach((element) => this.postTags.push(element.node.id));
    }
  },
};
</script>

<style>
.card {
  margin-bottom: 1.5rem;
}

.cards-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.arrow-top {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 10px 10px 0 10px;
  border-top: 4px solid #000;
  border-left: 4px solid #000;
  transform: rotate(45deg);
}

.arrow-bottom {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 10px 10px 10px;
  border-bottom: 4px solid #000;
  border-right: 4px solid #000;
  transform: rotate(45deg);
}

/* Mobile First */
.grid-item {
  width: 100%;
  transition: all 0.2s ease-in-out;
}
/*Medium Width */
@media screen and (min-width: 740px) {
  .grid-item {
    width: calc((100% / 2) - 30px);
  }
}
/*Wide Width */
@media screen and (min-width: 991px) {
  .grid-item {
    width: calc((100% / 3) - 30px);
  }
}
</style>
