<template>
  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img :src="`../../${post.node.image}`" />
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <h2 class="title is-3">
          <g-link :to="post.node.path">
            {{ post.node.name }}
          </g-link>
        </h2>
        <p class="subtitle is-6">
          <g-link :to="post.node.path">{{ post.node.title }} </g-link>
        </p>
        <p v-html="createHighlightContent(highlightText, post.node.blurb)"></p>
      </div>
      <div>
        <span style="padding-right: 5px" v-for="tag in post.node.tags" :key="tag.id">
          <div class="tag">
            <g-link :to="tag.path">
              {{ tag.id }}
            </g-link>
          </div>
        </span>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item">
            <span class="icon is-small"><i class="fas fa-reply"></i></span>
          </a>
        </div>
      </nav>
    </div>
  </article>
</template>

<script>
export default {
  props: { post: {}, highlightText: '' },
  methods: {
    createHighlightContent(highlightText, content) {
      if (highlightText) {
        return content.replace(
          new RegExp(highlightText,"g"),
          '<span style="background: lightgreen">' + highlightText + '</span>'
        );
      }
      return content;
    },
  },
};
</script>

